{{ define "main"}}
    <section id="features" class="features section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h1 class="title">Getting Started</h1>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="content">
                        {{.Content}}
                </div>
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//features-->

{{ end }}
