{{ define "main" }}
  <div id="overflow-container" class="overflow-container">

  <div id="loop-container" class="loop-container" >



      <div class="post type-post status-publish format-standard hentry category-standard category-travel entry full-without-featured odd excerpt-1">
        
        <div class="entry-meta">
          <!-- <span class="date">{{ .Date.Format "Jan 2, 2006" }}</span>	<span>  </span> -->

          

          <span>Categories: </span>
          {{ range $index, $element := .Params.categories }}
          <span class="category">
            {{if gt $index 0 }}
            <span> | </span>
            {{end}}

            <a href="/categories{{ . | relURL }}">{{ . }}</a>
          </span>
          {{ end }}


        </div>
        <div class='entry-header'>
          <h1 class='entry-title'> {{ .Title }}</h1>
          <span class="author-blog ">
            {{ if .Params.author }}
            By: {{ .Params.author | default ""}},
            {{ else }}
            {{ .Params.author | default "" }}
            {{ end }} 
            {{ .Date.Format "Jan 2, 2006" }}
          </span>
        </div>
        {{ if and (isset .Params "image") .Params.image }}
        <div class="entry-container">
            <div class="entry-content">
              <img src="{{ .Params.image | absURL}}">
            </div>
          </div>
        {{end}}

        <div class="entry-container">
          <div class="entry-content">
            <article>
              {{ .Content }}
            </article>
          </div>
          


</div>
</div>
</div>
</div>
{{ partial "disqus.html" . }}

{{end}}


