{{ define "main"}}
<section id="features" class="features section downloads">
        <div class="container-fluid downloados" style="margin-top: 40px">
            <div class="row">
                <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10" style="padding: 0px !important;">
                    {{ range .Site.Data.tabs}}
                    <div class="icon-item col-md-3 col-sm-3 col-xs-6 text-center" >
                        <a onclick="windows({{.os}})" href="#{{.os}}">
                            <div class="icon{{ if eq os .os }}-selected{{end}}">
                                <i class="fa fa-{{ .icon }} jsonly icon-button"></i>
                            </div><!--//icon-->
                            <h2 class="content title">{{ .title }}</h2>
                        </a>
                    </div><!--//item-->
                {{end}}
                </div>
            </div><!--//row-->
        </div><!--//container-->

        <div class="container-fluid">
            <div id="win" class="container download-os">
                <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10">
                    <div class="content">
                        <h2>Download the latest version for Windows</h2>
                        <a id="recommended-download" style="margin-top: 10px" class="btn btn-warning big-button-base" onclick="windows()" href="https://singlecell.biolab.si/install/?os=windows">
                            Download scOrange
                        </a>

                        <h3><a id="standalone"></a>Standalone installer</h3>
                        <a href="https://singlecell.biolab.si/install/?os=windows">scOrange-win_amd64.exe (64 bit)</a><br />
                        <p>Can be used without administrative priviledges.</p>

                    </div>
            </div>
        </div>

        <div id="mac" class="container mac download-os">
                 <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10">
                    <div class="content">
                        <h2>Download the latest version for Mac</h2>
                        <a id="recommended-download" onclick="mac()"style="margin-top: 10px" class="btn btn-warning big-button-base" href="https://singlecell.biolab.si/install/?os=mac">
                            Download scOrange
                        </a>
                        <h3><a id="standalone"></a>Bundle</h3>
                        <a href="https://singlecell.biolab.si/install/?os=mac">scOrange.dmg</a><br/>
                        <p>A universal bundle with everything packed in and ready to use.</p>
                    </div>
            </div>
        </div>

        </div>
        <script type="text/javascript">
            hash = window.location.hash.substr(1);

            if (hash == ""){
                if (navigator.appVersion.indexOf("Win")!=-1) hash="windows";
                if (navigator.appVersion.indexOf("Mac")!=-1) hash="macos";
            }
                        
            if (hash == "windows"){
                $("#mac").hide();
                $("#win").show();
                window.location.hash = hash;
            }

            else if( hash == "macos"){
                window.location.hash = hash;
                    $("#win").hide();
                    $("#mac").show();
            }

            function windows(os) {
                if (os =="windows"){
                    $("#mac").hide();
                    $("#win").show();
                }
                else if( os == "macos"){
                    $("#win").hide();
                    $("#mac").show();
                }
            }

        window.addEventListener('hashchange', function() {
            hash = window.location.hash.substr(1);
            if (hash =="windows"){
                    $("#mac").hide();
                    $("#win").show();
                }
            else if( hash == "macos"){
                $("#win").hide();
                $("#mac").show();
            }
        });
        </script>
    </section>

{{ end }}