{{ define "main"}}

<section id="features" class="features section downloads download-back">
    <div class="container downloads " style="margin-top: 50px">
        <div class="content">
            <h1>Download</h1>
            <h3>Orange add-on</h3>
            <p>Orange3-SingleCell can be installed directly from Orange add-on manager. You can find add-on manager in Options menu.</p>

            <h3>Anaconda</h3>
            <p>If you are using python provided by <a href="https://docs.conda.io/en/latest/miniconda.html">Anaconda</a>
                distribution, you are almost ready to go. Add conda-forge to the list of channels you can
                install packages from</p>
            <pre><code>conda config --add channels conda-forge</code></pre>
            <p>and run</p>
            <pre><code>conda install orange3-singlecell</code></pre>

            <h3>Pip</h3>
            <p>Orange3-SingleCell can also be installed from the Python Package Index:</p>
            <pre><code>pip install orange3-singlecell</code></pre>
        </div>
    </div>
</section>

{{ end }}