{{ define "main"}}
<div id="promoo">
<section id="promo" class="promo section offset-header has-pattern">
        <div class="container cover-image" style="margin-top:20px;">
            <div class="row ">
                <div class="overview">
                    <div class="col-lg-4 col-md-5 col-xs-12 intro">
                        
                        <h1 class="title firstpagetitle"><span style="white-space:nowrap">{{.Title}}</span> <span style="white-space:nowrap">{{ .Description}}</span></h1>
                    <div class="content">
                        <span class="bigsummary summary">
                        {{.Content}}
                    </span>
                    
                    </div>
                    <br />
                    <a id="main-page-download-button" class="btn btn-warning big-button-base" href="/download/">Download scOrange
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div id="promoo" class="blog-home">
<section id="promo" class="promo section has-pattern">
        <div class="container" style="margin-top:20px;">
            <div class="row">
            <div class="col-xs-12 blog-mark">
                <img alt="Blog mark" src="/images/blog-mark.svg">
            </div>
             </div>
            <div class="row center-block">
                {{ range first 3 (where .Site.RegularPages.ByDate.Reverse "Section" "blog") }}
                <div class="col-lg-4 col-md-12 col-xs-12 home-page-blog" onclick="window.location.href = {{ .Permalink }}" style="cursor: pointer;" >
                {{ if and (isset .Params "image") .Params.image }}
                
                    <div class="post type-post status-publish format-standard has-post-thumbnail hentry category-design tag-memories tag-normal-post tag-standard-2 excerpt zoom full-without-featured excerpt" >
         
               {{ else }}
               <div class="post type-post status-publish format-standard hentry category-standard category-travel excerpt zoom full-without-featured excerpt">
                  {{ end }}
                  
                  <div class="excerpt-container2 blog-home">
                     <div class="excerpt-meta">
                        <span class="date">{{ .Date.Format "02 January" }}</span>   <span>  </span>
                        {{ if and (isset .Site.Params "author") .Site.Params.author }}
                        <span class="author">
                        {{ if and (isset .Site.Params "authorlink") .Site.Params.authorLink }}
                        <a href="{{ .Site.Params.authorLink | default "" | absURL }}" title="Posts by {{ .Site.Params.author | default "" }}" rel="author">/{{ .Site.Params.author  | default "" }}</a>
                        {{ else }}
                        {{ .Site.Params.author | default "" }}
                        {{ end }}
                        </span>
                        {{ end }}
                        
                     </div>
                     <div class='excerpt-header'>
                        <h2 class='excerpt-title'>
                           <a href="{{ .Permalink }} "> {{ .Title }} </a>
                        </h2>
                     </div>

                     <div class='excerpt-content front-page-image'>                        
                        <article style="padding-bottom: 20px;">
                           {{ if .Params.shortExcerpt}}
                           {{ .Params.shortExcerpt | markdownify}}
                           {{else}}
                           {{ .Params.longExcerpt }}

                           {{end}}
                           <a href="{{ .Permalink }} "> Read more </a>
                           
                        </article>

                        {{ if .Params.frontPageImage }}
                        <img  src="{{ .Params.frontPageImage}}" >
                        {{end}}
                     </div>
                     <!-- <div class="more-link-wrapper"><a class="more-link" href="{{ .Permalink }}">Read the post<span class="screen-reader-text">This is a Standard Post</span></a></div> -->
                  </div>
               </div>
                </div>
                {{end}}
            </div>
        </div>
    </section>
</div>


<!-- class="promo section offset-header has-pattern" -->

<section id="features" class="features section background-features padding-features" >
        <a id="Orange-Features" class="features-anchor" style="padding-top: 20px;"></a>
        <div class="container">
            
           {{ range .Pages.ByWeight }}
            <div class="feature-panel row" style="background: url({{.Params.image}}); ">
        <div class='content col-md-6 col-xs-12 feature-description pull-{{if (eq .Params.thumbnailImagePosition "left")}}right{{else}}left{{ end }}'>
            <h2 class="feature-title">
            {{ if .Params.learnMore}}
                <a href="{{ .Permalink }}">{{ .Title }}</a>
                {{else}}
                {{ .Title }}
                {{ end }}
            </h2>
            <p class="feature-text">{{ .Params.excerpt }}</p>
            <div class="more">
                {{ if .Params.learnMore }}
                <a href="{{ .Permalink }}" class="no-break-buttons">
                    <div class="learn-more feature-block">
                        <div class="feature-block fa fa-arrow-circle-o-right jsonly" > </div>
                        <div class="feature-block feature-link">Learn More</div>
                    </div>
                </a>
                {{ end }}

                {{ if .Params.video }}
                    {{ if .Params.learnMore }}
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    {{ end }}
                <a class="lightbox no-break-buttons" href="https://www.youtube.com/watch?v={{ .Params.video }}&autoplay=1" target="_blank" >
                    <div class="feature-block fa fa-play-circle-o jsonly"></div>
                    <div class="feature-block feature-link">Watch Video</div>
                </a>
                {{ end }}
            </div>
        </div>
        <div class='content col-md-6 col-xs-12 feature-image {{if (eq .Params.thumbnailImagePosition "left") }}{{else }}panel-left{{ end }}'>
            {{ if isset .Params "learnMore" }}<a href="{{ .Permalink }}">{{end}}
                <img class='image {{.Params.thumbnailImagePosition}}' src="{{ .Params.image}}">
            {{ if isset .Params "learnMore" }}</a>{{end}}
        </div>
    </div>
            {{ end }}
            
        </div>
    </section>


{{ end }}