{{ define "main"}}
<div id="promoo">
<section id="promo" class="promo section offset-header has-pattern">
        <div class="container cover-image" style="margin-top:20px;">
            <div class="row">
                <div class="overview">
                    <div class="col-lg-4 col-md-5 col-xs-12">
                        
                        <h1 class="title firstpagetitle"><span style="white-space:nowrap">{{.Title}}</span> <span style="white-space:nowrap">{{ .Description}}</span></h1>
                    <div class="content">
                        <span class="bigsummary summary">
                        {{.Content}}
                    </span>
                    
                    </div>
                    <br />
                    <a id="main-page-download-button" class="btn btn-warning big-button-base" href="">Download scOrange
                    </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- class="promo section offset-header has-pattern" -->

<section id="features" class="features section background-features">
        <a id="Orange-Features" class="features-anchor"></a>
        <div class="container">
            
           {{ range .Pages.ByWeight }}
            <div class="feature-panel row {{ .Params.css_class }}">
        <div class='content col-md-6 col-xs-12 feature-description pull-{{if (eq .Params.thumbnailImagePosition "left")}}right{{else}}left{{ end }}'>
            <h2 class="feature-title">
            {{ if isset .Params "learnMore" }}
                <a href="{{ .Params.learnMore }}">{{ .Title }}</a>
                {{else}}
                {{ .Title }}
                {{ end }}
            </h2>
            <p class="feature-text">{{ .Content }}</p>
            <div class="more">
                {{ if isset .Params "learnMore" }}
                <a href="{{ .Params.learnMore }}">
                    <div class="learn-more feature-block">
                        <div class="feature-block fa fa-arrow-circle-o-right jsonly" > </div>
                        <div class="feature-block feature-link">Learn More</div>
                    </div>
                </a>
                {{ end }}

                {{ if isset .Params "video" }}
                    {{ if isset .Params "learnMore" }}
                        &nbsp;&nbsp;&nbsp;&nbsp;
                    {{ end }}
                <a class="lightbox" href="https://www.youtube.com/watch?v={{ .Params.video }}&autoplay=1">
                    <div class="feature-block fa fa-play-circle-o jsonly"></div>
                    <div class="feature-block feature-link">Watch Video</div>
                </a>
                {{ end }}
            </div>
        </div>
        <div class='content col-xs-12 feature-image {{if (eq .Params.thumbnailImagePosition "left") }}{{else }}panel-left{{ end }}'>
            {{ if isset .Params "learnMore" }}<a href="{{ .Params.learnMore }}">{{end}}
                <img class='image {{.Params.thumbnailImagePosition}}' src="{{ .Params.thumbnailImage}}">
            {{ if isset .Params "learnMore" }}</a>{{end}}
        </div>
        

    </div>
            {{ end }}
            
        </div>
    </section>


<script>
//  function click_features(){
//     var menu = document.getElementById("menu_feature");
//     console.log(menu);
//     if (menu.innerHTML == "Home"){
//         var elmnt = document.getElementById("promoo");
//         elmnt.scrollIntoView(true);
//         // document.getElementById("menu_feature").onclick = function(){
//         //     window.location.href = "/";
//         // }     
//     }
//     else{
//         var elmnt = document.getElementById("features");
//         elmnt.scrollIntoView();
//         menu.innerHTML = "Home";

//     // }
//     //     var elmnt = document.getElementById("features");
//     //     elmnt.scrollIntoView();
//     //     var menu = document.getElementById("menu_feature");
//     //     menu.innerHTML = "Home";
           
//     }
// }
</script>

{{ end }}