{{ define "main" }}
<!-- <section id="features" class="features section background-features"> -->

  <div id="overflow-container" class="overflow-container featureColor">

  <div id="loop-container" class="loop-container featurePadding" style="">
      <div  style="padding-top: 50px; ">
        <!-- <div class='entry-header'> -->
          
        <!-- </div> -->
        <!-- <div class="entry-container"> -->
          <h2 > {{ .Title }}</h2>
          <div class="entry-content" style="margin-top: 30px !important;">

            <!-- <article> -->
              {{ .Content }}
            <!-- </article> -->
          </div>
         

		</div>
		</div>
	</div>
	<!-- </div> -->
<!-- </section> -->
{{end}}


