{{ define "main"}}

<section id="features" class="features section">
    <div class="container page-background" >
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h1 class="title">Contact</h1>

                <div class="content">
                    <p> {{.Content}}</p>
                    <p>We prefer to address support requests and other
                        general questions about Orange GUI on
                        <a href="https://datascience.stackexchange.com/">Data Science Stack Exchange</a>,
                        (tagged <kbd>orange</kbd>) and questions regarding Orange
                        scripting layer (Python) on
                        <a href="https://stackoverflow.com/questions/tagged/orange">Stack Overflow</a>
                        (use tag <kbd>orange</kbd> <em>only</em>).
                        Please <b>report bugs</b>, issues, and anything unexpected
                        on our <a href="https://github.com/biolab/orange3/issues">GitHub issue tracker</a> instead.</p>
                    <br>
                </div>
                <form role="form" id="send_mail" class="form-horizontal contact" action="https://service.biolab.si/contact/mail/" method="POST" name="license-form">
                    <div class="form-group">
                        <label class="col-md-1 col-sm-2 col-xs-10" for="email">E-mail:</label>
                        <div class="inline-label-input col-md-4 col-sm-4 col-xs-10">
                            <input class="form-control" type="email" id="email" name="E-mail" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 col-sm-2 col-xs-10" for="subject">Subject:</label>
                        <div class="inline-label-input col-md-4 col-sm-4 col-xs-10">
                            <input class="form-control" type="text" id="subject" name="Subject" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-1 col-sm-2 col-xs-10" for="message">Message:</label>
                        <div class="inline-label-input col-md-4 col-sm-4 col-xs-10">
                            <textarea class="form-control" id="message" name='Message' rows="7" required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-10 col-sm-offset-3 col-sm-9">
                            <div class="g-recaptcha" data-sitekey="6LfUiJUUAAAAAMniHilHv2q2Gj2dwfRJZs0GSO1K"></div>
                        <span id="captcha" style="margin-left:100px;color:red" />
                        </div>
                    </div>
                    <input class="form-control" type="hidden" id="subject" name="Page" value="singlecell">
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-10 col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-theme" value="Submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
       
            $('#send_mail').submit(function(event){
                var v = grecaptcha.getResponse();
                if(v.length == 0)
                {
                    event.preventDefault();
                    document.getElementById('captcha').innerHTML="Error! Wrong captcha. Please try again.";
                    return false;
                }
                else
                {
                    return true; 
                }
            });
                
            
        

    </script>
</section>


{{end}}