{{ define "main"}}

<section id="features" class="features section padding-bottom ">
    <div class="container page-background getting-started">
        <div style="text-align: center">
           <h2 style="font-size: 40px" >
              scOrange Workflows
           </h2>
        </div>
    <div class="row">
      <div class="col-xs-12 col-md-12 content" style="margin-top: 30px;  display: inline;">
         <input type="text" class="jsonly search-widget-workflow" id="search-input" style="width: 90%;" placeholder="Search workflows" tabindex="1"  autofocus />
        <button type="button" class="search-button-workflow" id="searchBtn" onclick="search_content()">
            <i class="fa fa-search"></i>
        </button>
      </div>
      
    </div>
    <div style="margin-top: 5px;" id="myUL">
        <ul >
            <span>Tags: </span>
          {{ range first 10 .Site.Taxonomies.tags.ByCount }}
            <li style="display: inline;text-transform: capitalize;"><a href="/tags/{{ .Name | urlize }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="search-results" style="display: none;">  
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="post_nor">
    {{ $paginator := .Paginate (where (where .Pages.ByWeight.Reverse "Type" "workflows") "IsPage" true) }}
    {{ range $index, $element := .Paginator.Pages }}
        <div class=" row">
            {{ if eq (mod $index 2) 0 }}
            <div class='content col-md-6 col-xs-12 feature-description pull-left'>
            {{else}}
            <div class='content col-md-6 col-xs-12 feature-description pull-right'>
            {{end}}
                <h2 class="workflow-title">
                    {{ .Title }}
                </h2>
                <p class="feature-text">{{ .Content }}</p>
                <div class="tags"  style="padding-bottom: 10px;text-transform: capitalize;">
                    Tags:
                    {{range .Params.tags}}
                    <a class="tag-workflow" href="/tags/{{ . | urlize }}">{{ . }}</a>
                    {{end}}
                </div>
                <div class="getting-started-button">
                    {{ if .Params.download }}
                    <a href="https://service.biolab.si/download/workflow?name={{ .Params.download }}&domain=sc " class="no-break-buttons" target="_blank">
                        <div class="learn-more feature-block">
                            <div class="feature-block fa fa-download jsonly"></div>
                            <div class="feature-block feature-link">Download</div>
                        </div>
                    </a>
                    &nbsp;&nbsp;
                    {{ end }}

                    {{ if .Params.video }}
                        
                    <a class="lightbox no-break-buttons" href="{{ .Params.video }}" target="_blank" >
                        <div class="feature-block fa fa-play-circle-o jsonly">
                        </div>
                        <div class="feature-block feature-link">Watch Video</div>
                    </a>
                    &nbsp;&nbsp;
                    {{ end }}

                    {{ if .Params.blog }}
                        
                    <a class="lightbox no-break-buttons" href="https://singlecell.biolab.si/blog/{{ .Params.blog }}">
                        <div class="feature-block fa fa-book jsonly"></div>
                        <div class="feature-block feature-link">Blog post</div>
                    </a>
                    &nbsp;&nbsp;
                    {{ end }}
                </div>
            </div>

            <div class='content col-md-6 col-xs-12 {{if (eq .Params.thumbnailImagePosition "left") }}{{else }}panel-left{{ end }} '>
                <img class='image {{.Params.thumbnailImagePosition}} workflow-image' src="{{ .Params.image}}" style="">
            </div>
        </div>
        {{end}}
{{ partial "pagination.html" . }}

    </div>

</div>

</section>


<script type="text/javascript">
    // var slideIndex = 1;
    // showSlides(slideIndex);

    // // Next/previous controls
    // function plusSlides(n) {
    //   showSlides(slideIndex += n);
    // }

    // // Thumbnail image controls
    // function currentSlide(n) {
    //   showSlides(slideIndex = n);
    // }

    // function showSlides(n) {
    //   var i;
    //   var slides = document.getElementsByClassName("mySlides");
    //   // var dots = document.getElementsByClassName("dot");
    //   if (n > slides.length) {slideIndex = 1} 
    //   if (n < 1) {slideIndex = slides.length}
    //   for (i = 0; i < slides.length; i++) {
    //       slides[i].style.display = "none"; 
    //   }
    //   // for (i = 0; i < dots.length; i++) {
    //   //     dots[i].className = dots[i].className.replace(" active", "");
    //   // }
    //   slides[slideIndex-1].style.display = "block"; 
    //   // dots[slideIndex-1].className += " active";
    // }

  function search_content(){
    
    var param = document.getElementById('search-input').value;

    if (param.trim() ==""){
        $("#post_nor").show();
        $("#search-results").hide();
    }
    else{
        $("#post_nor").hide();
    

        var results  = search(param);
        $("#search-results").show();
        var search_results = document.getElementById('search-results')
        search_results.innerHTML = "";
        var html_el = ""

        for(var page in results){
            html_el += '<div class="row">';
            if (page % 2 == 0){
                html_el += '<div class="content col-md-6 col-xs-12 feature-description pull-left">';
            }
            else{
                html_el += '<div class="content col-md-6 col-xs-12 feature-description pull-right"';
            }
            html_el += '<h2 class="workflow-title">'+results[page].title+'</h2>'

            
            html_el += '<p class="feature-text">'+results[page].content+'</p>'
            html_el += '<div class="getting-started-button">'

            if (results[page].download != "<no value>"){
                html_el += '<a href="https://service.biolab.si/download/workflow?name='+results[page].download+'" class="no-break-buttons" target="_blank"><div class="learn-more feature-block"><div class="feature-block fa fa-download jsonly"></div><div class="feature-block feature-link">Download</div></div></a>&nbsp;&nbsp;'
            }
            if (results[page].video != "<no value>"){
                html_el += '<a class="lightbox no-break-buttons" href="'+results[page].video +'"target="_blank"><div class="feature-block fa fa-play-circle-o jsonly"></div><div class="feature-block feature-link">Watch Video</div></a>&nbsp;&nbsp;'
            }
            if (results[page].blog != "<no value>"){
                html_el += '<a class="lightbox no-break-buttons" href="https://singlecell.biolab.si/blog/'+results[page].blog+'"><div class="feature-block fa fa-book jsonly"></div><div class="feature-block feature-link">Blog post</div></a>&nbsp;&nbsp;'
            }


            html_el += '</div></div>'
            var position = "";
            if (page % 2 == 0){
                html_el += '<div class="content col-md-6 col-xs-12 panel-left">';
            }
            else{
                html_el += '<div class="content col-md-6 col-xs-12 " >';
            }

            html_el += '<img class="image'+position+'" src="'+results[page].image+'" style="padding:40px;"></div>'
            html_el += "</div> </div>"
        }
        search_results.innerHTML += html_el;

    }
    }
     
   </script>
   <script type="text/javascript" src="{{"js/lunr.min.js" | relURL}}"></script>
   <script type="text/javascript" src="{{"js/auto-complete.js" | relURL}}"></script>
   <link href="{{"css/auto-complete.css" | relURL}}" rel="stylesheet">
   <script type="text/javascript">
      var baseurl = "{{.Site.BaseURL}}";
   </script>
   <script type="text/javascript" src="/js/search-workflow.js"></script>



{{end}}

